.App {
  padding: 30px;
  display: flex;
  width: 250px;
}

.App > div {
  margin-right: 50px;
  word-wrap: normal;


}


.display {
  border-radius: 15px ;
  padding: 20px;
  background-color: rosybrown;
  border-style: outset;
}

.display2 {
  border-radius: 15px ;
  padding: 50px;
  background-color: lightblue;
  border-style: outset;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: #334fdd;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
.blue {
  color: deepskyblue;
}
.red {
  color: red;
}

